/302-09.xlsx
/VVP_kvartal_s 1995-2024.xlsx
/merged_df.csv
/obs_tabl20c_do_20240101-20240610-211633.xlsx
/obs_tabl20c_do_20240101.xlsx
/requirements.txt
/russia.inflation.monthly (statbureau.org) (1).csv
/russia.inflation.monthly (statbureau.org).csv
/Ипотека.xlsx
/СТАВКА ЦБ.csv
/Ставка.xlsx
/данные пункт е fixed
/котировки акций.csv
/кривая безкупонной доходности.csv